<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <h2>{{title}}</h2>

  <div class="navigation">
    <a href="/">To do tasks</a> <a href="/completed">Completed Tasks</a>
  </div>

  {{{body}}}

  </body>
</html>
